<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Hello Security Exercises</h1>
    <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
    <ul>
        <li>Go to the <a href="/login" th:href="@{/login}">login page</a></li>
        <li>Go to the <a href="/user" th:href="@{/user}">secured page for USER role</a></li>
        <li>Go to the <a href="/admin" th:href="@{/admin}">secured page for ADMIN role</a></li>
    </ul>
</div>

<div th:fragment="logout" class="logout"
     sec:authorize="isAuthenticated()">
    Logged User: [<span sec:authentication="name"></span>] |
    Roles: <span sec:authentication="principal.authorities"></span> |
    <form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
</div>

</body>
</html>